.register {
  display: flex;
  padding: 12rem 8rem 10rem 8rem;
  gap: 7%;
  justify-content: space-between;
}

.register-img {
  width: 28%;
  padding-top: 8rem;
}

.register-img img {
  margin-left: -8rem;
  width: 40rem;
  height: 45rem;
}

.register .form-container {
  margin-right: -3rem;
  padding: 7rem 6rem 6rem 6rem;
  width: calc(65% - 14rem);
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.register .form-container .heading {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--pink);
  margin-bottom: 3rem;
}

.register .form-container .be-part {
  display: flex;
  font-size: 0.875rem;
  align-items: baseline;
  margin-bottom: 1rem;
}

.walking-emoji {
  padding: 0 1rem;
  margin-left: 0.5rem;
  border-bottom: 0.0625rem dotted var(--pink);
}

.walking-emoji .img {
  width: 1.625rem;
  height: 1.625rem;
  /* margin: 0 .5rem; */
}

.register .form-container .subheading {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.form-container form {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}

.input-container {
  width: 47%;
  margin: 1rem 0;
}

.form-container form input {
  padding: 1rem 1.5rem;
  color: #fff;
  width: calc(100% - 3rem);
  margin: 1rem 0;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  outline: none;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-container form input:hover {
outline: 2px solid #fff;
}

.form-container form label {
  font-size: 0.875rem;
}

.select-container {
    margin-bottom: 20px;
    width: 47%;
  }

  .select-label {
    display: block;
    margin-bottom: 15px;
  }

  select {
    width: 100%; 
  padding: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background: transparent; 
  font-size: 1rem; 
  color: var(--white); 
  outline: none; 
  cursor: pointer;
  margin-bottom: 1rem;
  }

  select option {
    background-color: var(--violet);
    color: var(--white);
    border: none;
    cursor: pointer;
  }

  select option:hover  {
    background-color: var(--pink);
  }

.reminder {
  color: var(--pink);
  font-size: 0.75rem;
  font-style: italic;
  width: 100%;
}

span.error-message {
  font-size: 0.75rem;
  color: var(--red);
  display: none;
}

/* Apply styles to the error message when its corresponding input is focused and invalid */
.input-container.focused input:invalid ~ span.error-message {
  display: block;
}

.input-container.focused input:invalid {
  border: 1px solid var(--red);
}

.input-container.focused input::placeholder {
    color: var(--red);
}

.input-container.focused select:invalid ~ span.error-message {
  display: block;
}

.input-container.focused select:invalid {
  border: 1px solid var(--red);
  color: var(--red);
}

.agree {
  display: flex;
  align-items: center;
  margin: .8rem 0;
  cursor: pointer;
}

.agree .check-box {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 0.125rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agree .check-box .checker {
    width: 0.775rem;
    height: 0.775rem;
}

.agree span {
    margin-left: .5rem;
    font-size: 0.75rem;
}

.form-container form .btn {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

form .btn .button {
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .register {
    display: flex;
    flex-direction: column;
    padding: 6rem 5rem 6rem 5rem;
    gap: 7%;
    justify-content: space-between;
  }

  .register-img {
    width: 100%;
    padding-top: 3rem;
  }
  
  .register-img img {
    margin-left: -2rem;
    width: 45rem;
    height: 45rem;
    margin-bottom: -4rem;
  }
  
  .register .form-container {
    margin-right: 0rem;
    padding: 7rem 1rem 6rem 1rem;
    width: calc(100% - 2rem);
    border-radius: 0.75rem;
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .register .form-container .heading {
    position: absolute;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    top: 15rem;
  }
  
  .register .form-container .subheading {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .input-container {
    width: 100%;
    margin: 1rem 0;
  }

  .input-container.select1 {
    width: 57.5%;
    margin: 1rem 0;
  }

  .input-container.select2 {
    width: 36.5%;
    margin: 1rem 0;
  }
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  
  .form-container form label {
    font-size: 0.975rem;
  }

    select {
    padding: 1.2rem 1rem;  
    border-radius: 3px; 
    font-size: 1.1rem; 
    }
  
  .reminder {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .agree .check-box {
    width: 1.175rem;
    height: 1.175rem;
  }
  
  .agree .check-box .checker {
      width: 0.975rem;
      height: 0.975rem;
  }
  
  .agree span {
      margin-left: .8rem;
      font-size: 1.1rem;
  }
  
}