.mobile {
    display: none;
  }
  
  .desktop {
    display: contents;
  }
  
  img {
    width: 5.3rem;
    /* border: 2px solid red; */
  }
  
  a {
    text-decoration: none;
    color: var(--white);
    /* margin-left: 6px; */
  }
  
  .nav-wrapper {
    position: sticky;
    top: 0;
    background-color: var(--violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6.25rem 1.88rem 6.25rem;
    border-bottom: var(--border-line);
    z-index: 1000;
  }
  
  .logo-div {
    flex: 1;
  }
  
  .logo {
    font-family: var(--header-font);
    font-size: 2.25rem;
  }
  
  .logo-dark {
    color: var(--pink);
  }
  
  .nav-bar {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    width: 65%;
    justify-content: space-between;
    list-style: none;
  }
  
  .nav-list {
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-list:hover {
    background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  
  button {
    color: var(--white);
    border-radius: 0.25rem;
    width: 10.75rem;
    height: 3.3125rem;
    font-family: var(--body-font);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
  }

  button:hover {
    opacity: .7;
  }

  button:active {
    opacity: 1;
  }

  .active {
    background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
  }

  .custom-btn {
    width: 10.75rem;
    height: 3.3125rem;
    border-radius: 0.25rem;
    background: linear-gradient(
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  
  .custom-button {
    background: var(--violet);
    width: 10.585rem;
    height: 3.155rem;
  }

  /* ------------------PAGE RESPONSIVENES------------------- */
  @media only screen and (max-width: 640px) {
    .mobile {
      display: block;
    }

    .nav-wrapper {
      padding: 2rem 0;
      justify-content: center;
    }

    .logo-div {
      padding-left: 4.5rem ;
    }

    .nav-bar {
      display: none;
      position: absolute;
      background-color: var(--violet);
      padding: 4rem ;
      width: calc(70% - 8rem);
      flex-direction: column;
      align-items: flex-start;
      margin-top: 28rem;
      border-radius: 5px;
      transition: transform 0.3s ease-out;
    }

    .nav-bar.open {
      display: flex;
      -webkit-animation: slideIn 300ms;
      animation: slideIn 300ms;
    }
    
    /* Slide-out animation */
    .slide-out {
      transform: translateX(100%);
    }

    .hamburger {
      width: 2.2rem;
      cursor: pointer;
      padding-right: 5rem;
    }
    
    .close-back {
    background: linear-gradient(
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }

  .close {
    background-color: var(--violet);
    border-radius: 50%;
    padding: .48rem;
    width: 1.1rem;
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    margin: 4rem 0;
  }

  .nav-list {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.8rem;
  } 

  button {
    font-size: 1.5rem;
}

.custom-btn {
  width: 13.0rem;
  height: 4.5125rem;
}

.custom-button {
  background: var(--violet);
  width: 10.585rem;
  height: 3.155rem;
}

 .nav-bar button {
    width: 12.8rem;
    height: 4.3125rem;
}
}

@-webkit-keyframes slideIn {
  from { 
    opacity: 0;
    transform: translateX(-100%);
  }
  to { 
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from { 
    opacity: 0;
    transform: translateX(100%);
  }
  to { 
    transform: translateX(0%);
    opacity: 1;
  }
}